body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.product-listing {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
}

.product-listing .product-list-item {
  padding: 10px 30px;
  width: 200px;
}